@tailwind base;
@tailwind components;
@tailwind utilities;
.hero {
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#root {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.card {
  height: 320px;
  width: 400px;
  background: rgba(255, 255, 255, 1);
  margin: 40px;
  border-radius: 10px;
  position: relative;
  text-align: center;
  overflow: hidden;
}
.card::before {
  content: "";
  position: absolute;

  top: 0;
  left: 0;
  height: 180%;
  width: 180%;
  background: radial-gradient(rgb(0, 120, 104), transparent, transparent);
}

/* .card::after {
  content: "";
  position: absolute;
  inset: 2px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.75);
  z-index: -1;
} */
